---
layout: base.liquid

pagination:
  data: chapterData
  size: 1
  alias: entry
  addAllPagesToCollections: true

permalink: '{{ entry.scx_path }}/index.html'
eleventyComputed:
  title: '{{ entry.original_title | default: entry.root_name }}{% if entry.translated_title or entry.translated_name %}—{{ entry.translated_title | default: entry.translated_name }}{% endif %}'
  json_ld: '{{ entry.scx_json_ld }}'
  og_tags: '{{ entry.scx_og_tags }}'
---
<header>
  {% assign parts = entry.scx_breadcrumb | split: "/" %}
  {% capture breadcrumbsList %}
    {% for part in parts %}
      {% assign path = path | append: '/' | append: part %}
      <li>
        {% if forloop.last %}
          <span aria-current="page">{{ part }}</span>
        {% else %}
          <a href="/pitaka{{ path }}">{{ part }}</a>
        {% endif %}
      </li>
    {% endfor %}
  {% endcapture %}
  {% include "headerNav.liquid", breadcrumbsList: breadcrumbsList %}
</header>

<main>
  <h1>{{ title }}</h1>

  {% if entry.blurb %}
    <p>{{ entry.blurb }}</p>
  {% endif %}

  {% assign isPatimokkha = entry.uid | endswith: "-pm" %}
  {% if isPatimokkha %}
    {% include "textMetaContent.liquid", entry: entry, isPatimokkha: true %}
  {% endif %}

  {% if isPatimokkha %}
    <details class="patimokkha-details">
      <summary>Details</summary>
  {% endif %}
  {% if entry.children.length %}
    <ul class="texts-list">
      {% for child in entry.children %}
        <li>
          <hgroup>
            <h2>
              {{ child.original_title | default: child.root_name -}}
              {%- if child.translated_title or child.translated_name -%}
                —{{ child.translated_title | default: child.translated_name -}}
              {%- endif %}
            </h2>
            {%- if child.acronym %}
              <p>{{ child.acronym }}</p>
            {% endif %}
          </hgroup>
          {%- if child.blurb %}
            <p>{{ child.blurb }}</p>
          {% endif %}
          {% if child.translations.length %}
            {% include "translationsDetails.liquid", entry: child %}
          {% endif %}
          {% if child._parallels_data and child._parallels_data.size > 0 %}
            {% include "parallelsDetails.liquid", entry: child %}
          {% endif %}
          {% if isPatimokkha %}
            <ul>
              {% for grandchild in child.children %}
                <li>
                  <hgroup>
                    <h3>
                      {{
                        grandchild.original_title
                        | default: grandchild.root_name
                      -}}
                      {%- if grandchild.translated_title
                        or grandchild.translated_name
                      -%}
                        —
                        {{-
                          grandchild.translated_title
                          | default: grandchild.translated_name
                        -}}
                      {%- endif %}
                    </h3>
                    {%- if grandchild.acronym %}
                      <p>{{ grandchild.acronym }}</p>
                    {% endif %}
                  </hgroup>
                  {% if grandchild.blurb %}
                    <p>{{ grandchild.blurb }}</p>
                  {% endif %}
                  {% include "parallelsDetails.liquid", entry: grandchild %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if entry.scx_shortcut %}
            <ul>
              {% for grandchild in child.children %}
                <li>
                  <hgroup>
                    <h3>
                      {{
                        grandchild.original_title
                        | default: grandchild.root_name
                      -}}
                      {%- if grandchild.translated_title
                        or grandchild.translated_name
                      -%}
                        —
                        {{-
                          grandchild.translated_title
                          | default: grandchild.translated_name
                        -}}
                      {%- endif %}
                    </h3>
                    {%- if grandchild.acronym %}
                      <p>{{ grandchild.acronym }}</p>
                    {% endif %}
                  </hgroup>
                  {% if grandchild.blurb %}
                    <p>{{ grandchild.blurb }}</p>
                  {% endif %}
                  {% include "translationsDetails.liquid", entry: grandchild %}
                  {% if grandchild.parallel_count %}
                    {% include "parallelsDetails.liquid", entry: grandchild %}
                  {% endif %}
                  <ul>
                    {% for greatgrandchild in grandchild.children %}
                      <li>
                        <hgroup>
                          <h4>
                            {{
                              greatgrandchild.original_title
                              | default: greatgrandchild.root_name
                            -}}
                            {%- if greatgrandchild.translated_title
                              or greatgrandchild.translated_name
                            -%}
                              —
                              {{-
                                greatgrandchild.translated_title
                                | default: greatgrandchild.translated_name
                              -}}
                            {%- endif %}
                          </h4>
                          {%- if greatgrandchild.acronym %}
                            <p>{{ greatgrandchild.acronym }}</p>
                          {% endif %}
                        </hgroup>
                        {% if greatgrandchild.blurb %}
                          <p>{{ greatgrandchild.blurb }}</p>
                        {% endif %}
                        {% include "translationsDetails.liquid",
                          entry: greatgrandchild
                        %}
                        {% if greatgrandchild.parallel_count %}
                          {% include "parallelsDetails.liquid",
                            entry: greatgrandchild
                          %}
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if isPatimokkha %}
    </details>
  {% endif %}
</main>

{% include "footer.liquid",
  route: entry.scx_path,
  fetchedAt: entry.scx_fetched_at
%}

{% if _siteMetaData.environment == "dev" %}
  <script>
    const data = {{ entry | jsonify }};
    console.log(data);
  </script>
{% endif %}
