---
layout: base.liquid

eleventyComputed:
  json_ld: '{{ indexData[0].scx_json_ld }}'
---
<header>
  {% include 'headerNav.liquid', isHome: true %}
</header>

<main>
  <h1>Tipiṭaka—the Three Baskets of the Buddhist canon</h1>

  <ul>
    {% for item in indexData %}
      <li>
        <h2>
          <a href="pitaka/{{item.uid}}">
            {{- item.root_name }}—{{ item.translated_name -}}
          </a>
        </h2>
        <p>{{ item.blurb }}</p>
      </li>
    {% endfor %}
  </ul>
</main>

{% include 'footer.liquid', route: '', fetchedAt: indexData[0].scx_fetched_at %}

{% if _siteMetaData.environment == 'dev' %}
  <script>
    const data = {{ indexData | jsonify }};
    console.log(data);
  </script>
{% endif %}
