---
layout: base-layout.liquid

pagination:
  data: textData
  size: 1
  alias: entry
  addAllPagesToCollections: true

permalink: '{{ entry.scx_path }}/index.html'
eleventyComputed:
  title: '{{ entry.acronym }}: {{ entry.original_title }}—{{ entry.author }}'
---

<header>
  {% assign parts = entry.scx_breadcrumb | split: "/" %}
  {% assign second_last = parts | size | minus: 1 %}
  <nav aria-label="Breadcrumb">
    <ul>
      <li>
        <a href="/">📚</a>
      </li>
      {% for part in parts %}
        {% assign path = path | append: "/" | append: part %}
        <li>
          {% if forloop.last %}
            <span aria-current="page">{{ part }}</span>
          {% elsif forloop.index == second_last %}
            <a href="/{{ part }}">{{ part }}</a>
          {% else %}
            <a href="/pitaka{{ path }}">{{ part }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<aside>
  <fieldset>
    <ul>
      <li>
        <button popovertarget="info">Info</button>
      </li>
      {% if entry.segmented or entry.has_comment or entry.is_root %}
      <li>
        <button aria-haspopup="true">Views</button>
        <ul class="dropdown" aria-label="submenu">
          {% if entry.has_comment or entry._bilarasuttas_data.variant_text.size > 0 %}
          <li>
            <label for="commenter">Show comments</label>
            <input type="checkbox" id="commenter" checked />
          </li>
          {% endif %}
          {% unless entry.is_root %}
          <li>
            <label for="rooter">Show root text</label>
            <input type="checkbox" id="rooter" />
          </li>
          {% endunless %}
          {% if entry.segmented %}
          <li>
            <label for="segmenter">Show segments</label>
            <input type="checkbox" id="segmenter" />
          </li>
          {% endif %}
          <li>
            <label for="positioner">Pin this menu</label>
            <input type="checkbox" id="positioner" checked />
          </li>
        </ul>
      </li>
      {% endif %}
      {% if entry._parallels_data.size > 0 %}
      <li>
        <button popovertarget="parallels">Parallels</button>
      </li>
      {% endif %}
    </ul>
  </fieldset>
</aside>

<main>
  {% if entry.is_root %}
    {% for key in entry._bilarasuttas_data.keys_order %}
      {% assign html = entry._bilarasuttas_data.html_text[key] %}
      {% assign text = entry._bilarasuttas_data.root_text[key] %}
      {% assign comment = entry._bilarasuttas_data.variant_text[key] %}
      {% assign ref = key | split: ":" | last %}
      {% if html and text %}
        {% capture replacement %}
          <span id="{{ key }}" class="segment">
            <span class="reference" id="{{ ref }}">
              <a href="#{{ ref }}" title="SuttaCentral segment number">{{ ref }}</a>
            </span>
            <!-- This is not a translation, its the root text, the class is for styling purposes. -->
            <span class="translation" lang="{{ entry.lang }}" translate="no">
              <span class="text">{{ text }}</span>
              {% if comment %}
                <button popovertarget="comment-{{ key }}">*</button>
              {% endif %}
            </span>
          </span>
          {% if comment %}
            <article id="comment-{{ key }}" popover>{{ comment | replace: 'https://suttacentral.net', '' }}</article>
          {% endif %}
        {% endcapture %}
        {{ html | replace: "{}", replacement }}
      {% endif %}
    {% endfor %}
  {% elsif entry.segmented %}
    {% for key in entry._bilarasuttas_data.keys_order %}
      {% assign html = entry._bilarasuttas_data.html_text[key] %}
      {% assign text = entry._bilarasuttas_data.translation_text[key] %}
      {% assign rootText = entry._bilarasuttas_data.root_text[key] %}
      {% assign comment = entry._bilarasuttas_data.comment_text[key] %}
      {% assign ref = key | split: ":" | last %}
      {% if html and text %}
        {% capture replacement %}
          <span id="{{ key }}" class="segment">
            <span class="reference" id="{{ ref }}">
              <a href="#{{ ref }}" title="SuttaCentral segment number">{{ ref }}</a>
            </span>
            <span class="translation" lang="{{ entry.lang }}">
              <span class="text">{{ text }}</span>
              {% if comment %}
                <button popovertarget="comment-{{ key }}">*</button>
              {% endif %}
            </span>
            {% if rootText %}
            <span class="root" lang="{{ entry.root_lang }}" translate="no">
              <span class="text">{{ rootText }}</span>
            </span>
            {% endif %}
          </span>
          {% if comment %}
            <article id="comment-{{ key }}" popover>{{ comment | replace: 'https://suttacentral.net', '' }}</article>
          {% endif %}
        {% endcapture %}
        {{ html | replace: "{}", replacement }}
      {% endif %}
    {% endfor %}
  {% else %}
    {{ entry._suttas_data.text | replace: "\n", "" }}
  {% endif %}

  <script>
    const data = {{ entry | jsonify }};
    console.log(data);
  </script>
</main>

{% include "components/footer.liquid", route: entry.scx_path %}
