---
layout: base.liquid

pagination:
  data: textMetaData
  size: 1
  alias: entry
  addAllPagesToCollections: true

permalink: '{{ entry.scx_path }}/index.html'
eleventyComputed:
  title: '{{ entry.original_title | default: entry.root_name }}—{{ entry.translated_title | default: entry.translated_name }}'
  json_ld: '{{ entry.scx_json_ld }}'
  og_tags: '{{ entry.scx_og_tags }}'
---
<header>
  {% assign parts = entry.scx_breadcrumb | split: "/" %}
  {% assign second_last = parts | size | minus: 1 %}
  {% capture breadcrumbsList %}
    {% for part in parts %}
      {% assign path = path | append: '/' | append: part %}
      <li>
        {% if forloop.last %}
          <span aria-current="page">{{ part }}</span>
        {% elsif forloop.index == second_last %}
          <a href="/{{ part }}">{{ part }}</a>
        {% else %}
          <a href="/pitaka{{ path }}">{{ part }}</a>
        {% endif %}
      </li>
    {% endfor %}
  {% endcapture %}
  {% include "headerNav.liquid", breadcrumbsList: breadcrumbsList %}
</header>

<main>
  <!-- This has it's own file because it's reused in text.liquid -->
  {% include "textMetaContent.liquid",
    entry: entry,
    title: title,
    translations: entry.translations
  %}
</main>

<nav aria-label="Article pagination">
  <div>
    {% if entry.previous.uid != blank %}
      <span>Previous</span>
      <a
        href="/{{ entry.previous.uid }}"
        rel="prev"
      >
        {{- entry.previous.name -}}
      </a>
    {% endif %}
  </div>
  <div>
    {% if entry.next.uid != blank %}
      <span>Next</span>
      <a
        href="/{{ entry.next.uid }}"
        rel="next"
      >
        {{- entry.next.name -}}
      </a>
    {% endif %}
  </div>
</nav>

{% include "footer.liquid",
  route: entry.scx_path,
  fetchedAt: entry.scx_fetched_at
%}

{% if _siteMetaData.environment == "dev" %}
  <script>
    const data = {{ entry | jsonify }};
    console.log(data);
  </script>
{% endif %}
