---
layout: base.liquid

pagination:
  data: textData
  size: 1
  alias: entry
  addAllPagesToCollections: true

permalink: '{{ entry.scx_path }}/index.html'
eleventyComputed:
  title: '{{ entry.acronym }}: {{ entry.original_title }}—{{ entry.author }}'
  json_ld: '{{ entry.scx_json_ld }}'
---
<header>
  {% assign parts = entry.scx_breadcrumb | split: '/' %}
  {% assign second_last = parts | size | minus: 1 %}
  <nav aria-label="Breadcrumb">
    <ul>
      <li>
        <a href="/" aria-label="Home">📚<span class="sr-only">Home</span></a>
      </li>
      {% for part in parts %}
        {% assign path = path | append: '/' | append: part %}
        <li>
          {% if forloop.last %}
            <span aria-current="page">{{ part }}</span>
          {% elsif forloop.index == second_last %}
            <a href="/{{ part }}">{{ part }}</a>
          {% else %}
            <a href="/pitaka{{ path }}">{{ part }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<aside>
  <fieldset>
    <ul>
      <li>
        <button popovertarget="info" aria-label="Show publication information">
          Info
        </button>
      </li>
      <li>
        <button
          aria-haspopup="true"
          aria-expanded="false"
          aria-controls="views-menu"
          aria-label="Text display settings"
          id="views-button"
        >
          Views
        </button>
        <ul
          class="dropdown"
          role="menu"
          aria-labelledby="views-button"
          id="views-menu"
        >
          {% if entry.has_comment
            or entry._bilarasuttas_data.variant_text.size > 0
          %}
            <li role="menuitem">
              <label for="commenter">Show comments</label>
              <input type="checkbox" id="commenter" checked>
            </li>
          {% endif %}
          {% unless entry.is_root or entry.segmented == blank %}
            <li role="menuitem">
              <label for="rooter">Show root text</label>
              <input type="checkbox" id="rooter">
            </li>
          {% endunless %}
          {% if entry.segmented
            or entry._suttas_data.text contains "class='ref"
          %}
            <li role="menuitem">
              <label for="segmenter">Show segments</label>
              <input type="checkbox" id="segmenter">
            </li>
          {% endif %}
          <li role="menuitem">
            <label for="positioner">Pin this menu</label>
            <input type="checkbox" id="positioner" checked>
          </li>
        </ul>
      </li>
      {% if entry._parallels_data.size > 0 %}
        <li>
          <button popovertarget="parallels" aria-label="Show parallel texts">
            Parallels
          </button>
        </li>
      {% endif %}
    </ul>
  </fieldset>
</aside>

<main>
  {% if entry.is_root and entry._bilarasuttas_data.size > 0 %}
    {% assign comments = '' %}
    {% for key in entry._bilarasuttas_data.keys_order %}
      {% assign html = entry._bilarasuttas_data.html_text[key] %}
      {% assign text = entry._bilarasuttas_data.root_text[key] %}
      {% assign comment = entry._bilarasuttas_data.variant_text[key] %}
      {% assign ref = key | split: ':' | last %}
      {% if entry.previous.uid != blank %}
        {% capture prev %}/{{ entry.previous.uid }}/{{ entry.root_lang }}/{{ entry.author_uid }}{% endcapture %}
      {% endif %}
      {% if entry.next.uid != blank %}
        {% capture next %}/{{ entry.next.uid }}/{{ entry.root_lang }}/{{ entry.author_uid }}{% endcapture %}
      {% endif %}
      {% if html and text %}
        {% capture replacement %}
          <span id="{{ key }}" class="segment">
            <span class="reference" id="{{ ref }}">
              <a href="#{{ ref }}" title="SuttaCentral segment number">{{ ref }}</a>
            </span>
            <!-- This is not a translation, its the root text, the class is for styling purposes. -->
            <span class="translation" lang="{{ entry.lang }}" translate="no">
              <span class="text">{{ text }}</span>
              {% unless comment == blank %}
                <button popovertarget="comment-{{ key }}" aria-label="Show variant reading for segment {{ ref }}">*</button>
              {% endunless %}
            </span>
          </span>
        {% endcapture %}
        {{ html | replace: '{}', replacement }}
        {%- if comment -%}
          {% capture comments %}
            {{ comments }}
            <article id="comment-{{ key }}" popover>
              Variant: {{ comment | replace: 'https://suttacentral.net', '' }}
            </article>
          {% endcapture %}
        {%- endif -%}
      {% endif %}
    {% endfor %}
    {{ comments }}
    <article id="info" popover>
      {% include 'publication-info.liquid', entry: entry %}
    </article>
  {% elsif entry.segmented %}
    {% assign comments = '' %}
    {% for key in entry._bilarasuttas_data.keys_order %}
      {% assign html = entry._bilarasuttas_data.html_text[key] %}
      {% assign text = entry._bilarasuttas_data.translation_text[key] %}
      {% assign rootText = entry._bilarasuttas_data.root_text[key] %}
      {% assign comment = entry._bilarasuttas_data.comment_text[key] %}
      {% assign ref = key | split: ':' | last %}
      {% if entry.previous.uid != blank %}
        {% capture prev %}/{{ entry.previous.uid }}/en/{{ entry.priority_author_uid }}{% endcapture %}
      {% endif %}
      {% if entry.next.uid != blank %}
        {% capture next %}/{{ entry.next.uid }}/en/{{ entry.priority_author_uid }}{% endcapture %}
      {% endif %}
      {% if html and text %}
        {% capture replacement %}
          <span id="{{ key }}" class="segment">
            <span class="reference" id="{{ ref }}">
              <a href="#{{ ref }}" title="SuttaCentral segment number">{{ ref }}</a>
            </span>
            <span class="translation" lang="{{ entry.lang }}">
              <span class="text">{{ text }}</span>
              {% unless comment == blank %}
                <button popovertarget="comment-{{ key }}" aria-label="Show {{ entry.author }}'s footnote for segment {{ key }}">*</button>
              {% endunless %}
            </span>
            {% if rootText %}
            <span class="root" lang="{{ entry.root_lang }}" translate="no">
              <span class="text">{{ rootText }}</span>
            </span>
            {% endif %}
          </span>
        {% endcapture %}
        {{ html | replace: '{}', replacement }}
        {%- if comment -%}
          {% capture comments %}
            {{ comments }}
            <article id="comment-{{ key }}" popover>
              {{ comment | replace: 'https://suttacentral.net', '' }}
            </article>
          {% endcapture %}
        {%- endif -%}
      {% endif %}
    {% endfor %}
    {{ comments }}
    {% if entry._publication_info != blank %}
      <article id="info" popover>
        {% include 'publication-info.liquid', entry: entry %}
      </article>
    {% endif %}
  {% else %}
    {% if entry.previous.uid != blank %}
      {% capture prev %}/{{ entry.previous.uid }}/en/{{ entry.priority_author_uid }}{% endcapture %}
    {% endif %}
    {% if entry.next.uid != blank %}
      {% capture next %}/{{ entry.next.uid }}/en/{{ entry.priority_author_uid }}{% endcapture %}
    {% endif %}
    {% assign html_content = entry._suttas_data.text | replace: '\n', '' %}
    {% assign original_footer = html_content
      | split: '<footer'
      | last
      | split: '</footer>'
      | first
      | prepend: '<footer'
      | append: '</footer>'
    %}
    {% assign html_without_footer = html_content
      | replace: original_footer, ''
    %}
    {% assign modified_footer = original_footer
      | replace: '<footer', '<article id="info" popover'
      | replace: '</footer>', '</article>'
    %}
    {{ html_without_footer }}
    {{ modified_footer }}
  {% endif %}
</main>

<nav aria-label="Article pagination">
  <div>
    {% if entry.previous.uid != blank %}
      <span>Previous</span>
      <a href="{{ prev }}" rel="prev">{{ entry.previous.name }}</a>
    {% endif %}
  </div>
  <div>
    {% if entry.next.uid != blank %}
      <span>Next</span>
      <a href="{{ next }}" rel="next">{{ entry.next.name }}</a>
    {% endif %}
  </div>
</nav>

{% include 'footer.liquid',
  route: entry.scx_path,
  fetchedAt: entry.scx_fetched_at
%}

{% if _siteMetaData.environment == 'dev' %}
  <script>
    const data = {{ entry | jsonify }};
    console.log(data);
  </script>
{% endif %}
