---
layout: base.liquid

pagination:
  data: textMetaData
  size: 1
  alias: entry
  addAllPagesToCollections: true

permalink: '{{ entry.scx_path }}/index.html'
eleventyComputed:
  title: '{% if entry.scx_range_sutta_individual %}{{ entry.scx_range_sutta_title }}{% else %}{{ entry.original_title | default: entry.root_name }}{% if entry.translated_title or entry.translated_name %}—{{ entry.translated_title | default: entry.translated_name }}{% endif %}{% endif %}'
  json_ld: '{{ entry.scx_json_ld }}'
  og_tags: '{{ entry.scx_og_tags }}'
---
<header>
  {% assign parts = entry.scx_breadcrumb | split: "/" %}
  {% assign second_last = parts | size | minus: 1 %}
  {% capture breadcrumbsList %}
    {% for part in parts %}
      {% assign path = path | append: '/' | append: part %}
      <li>
        {% if forloop.last %}
          <span aria-current="page">{{ part }}</span>
        {% elsif forloop.index == second_last %}
          <a href="/{{ part }}">{{ part }}</a>
        {% else %}
          <a href="/pitaka{{ path }}">{{ part }}</a>
        {% endif %}
      </li>
    {% endfor %}
  {% endcapture %}
  {% include "headerNav.liquid", breadcrumbsList: breadcrumbsList %}
</header>

<main>
  <!-- This has it's own file because it's reused in text.liquid -->
  {% include "textMetaContent.liquid", entry: entry, title: title %}
</main>

<nav aria-label="Article pagination">
  <div>
    {% unless entry.previous.uid == blank
      and entry.scx_range_sutta_pagination.prev.uid == blank
    %}
      <span>Previous</span>
      <a
        href="/{{ entry.scx_range_sutta_pagination.prev.uid | default: entry.previous.uid }}"
        rel="prev"
      >
        {{-
          entry.scx_range_sutta_pagination.prev.name
          | default: entry.previous.name
        -}}
      </a>
    {% endunless %}
  </div>
  <div>
    {% unless entry.next.uid == blank
      and entry.scx_range_sutta_pagination.next.uid == blank
    %}
      <span>Next</span>
      <a
        href="/{{ entry.scx_range_sutta_pagination.next.uid | default: entry.next.uid }}"
        rel="next"
      >
        {{-
          entry.scx_range_sutta_pagination.next.name
          | default: entry.next.name
        -}}
      </a>
    {% endunless %}
  </div>
</nav>

{% include "footer.liquid",
  route: entry.scx_path,
  fetchedAt: entry.scx_fetched_at
%}

{% if _siteMetaData.environment == "dev" %}
  <script>
    const data = {{ entry | jsonify }};
    console.log(data);
  </script>
{% endif %}
