---
layout: base.liquid

pagination:
  data: textData
  size: 1
  alias: entry
  addAllPagesToCollections: true

permalink: '{{ entry.scx_path }}/index.html'
eleventyComputed:
  title: '{{ entry.acronym }}: {{ entry.original_title }}—{{ entry.author }}'
  json_ld: '{{ entry.scx_json_ld }}'
  scripts: 
    - 'listen.js'
---
<header>
  {% assign parts = entry.scx_breadcrumb | split: '/' %}
  {% assign second_last = parts | size | minus: 1 %}
  <nav aria-label="Breadcrumb">
    <ul>
      <li>
        <a href="/" aria-label="Home">📚<span class="sr-only">Home</span></a>
      </li>
      {% for part in parts %}
        {% assign path = path | append: '/' | append: part %}
        <li>
          {% if forloop.last %}
            <span aria-current="page">{{ part }}</span>
          {% elsif forloop.index == second_last %}
            <a href="/{{ part }}">{{ part }}</a>
          {% else %}
            <a href="/pitaka{{ path }}">{{ part }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<aside>
  <fieldset>
    <ul>
      <li>
        <button popovertarget="info" aria-label="Show publication information">
          Info
        </button>
      </li>
      <li>
        <button
          aria-haspopup="menu"
          aria-expanded="false"
          aria-controls="views-menu"
          aria-label="Text display settings"
          id="views-button"
        >
          Views
        </button>
        <ul
          class="dropdown"
          role="menu"
          aria-labelledby="views-button"
          id="views-menu"
        >
          {% if entry.has_comment
            or entry._bilarasuttas_data.variant_text.size > 0
          %}
            <li role="menuitem">
              <label for="commenter">Show comments</label>
              <input type="checkbox" id="commenter" checked>
            </li>
          {% endif %}
          {% unless entry.is_root or entry.segmented == blank %}
            <li role="menuitem">
              <label for="rooter">Show root text</label>
              <input type="checkbox" id="rooter">
            </li>
          {% endunless %}
          {% if entry.segmented
            or entry._suttas_data.translation.text contains "class='ref"
          %}
            <li role="menuitem">
              <label for="segmenter">Show segments</label>
              <input type="checkbox" id="segmenter">
            </li>
          {% endif %}
          <li role="menuitem">
            <label for="positioner">Pin this menu</label>
            <input type="checkbox" id="positioner" checked>
          </li>
        </ul>
      </li>
      <li>
        <button popovertarget="parallels" aria-label="Show parallel texts">
          Parallels
        </button>
      </li>
      <li>
        <button
          aria-haspopup="menu"
          aria-expanded="false"
          aria-controls="listen-menu"
          aria-label="Text to speech settings"
          id="listen-menu-button"
        >
          Listen
        </button>
        <ul
          class="dropdown"
          role="menu"
          aria-labelledby="listen-menu-button"
          id="listen-menu"
        >
          <li>
            <noscript>
              Please enable javascript to listen to this text. It works
              100% locally in your browser via the SpeechSynthesis API,
              including while offline.
            </noscript>
          </li>
          <li role="menuitem" class="tts-controls">
            <button id="prev" type="button">
              <span>⏮️</span><span>Prev</span>
            </button>
            <button id="playpause" type="button">
              <span>▶️</span><span>Play</span>
            </button>
            <button id="stop" type="button">
              <span>⏹️</span><span>Stop</span>
            </button>
            <button id="next" type="button">
              <span>⏭️</span><span>Next</span>
            </button>
          </li>
          <li role="menuitem">
            <label for="voice-select">Voice</label>
            <select id="voice-select"></select>
          </li>
          <li role="menuitem">
            <label for="rate">Rate</label>
            <input
              type="range"
              min="0.5"
              max="2"
              value="1"
              step="0.1"
              id="rate"
            />
            <div id="rate-value">1.0</div>
          </li>
          <li role="menuitem">
            <label for="pitch">Pitch</label>
            <input
              type="range"
              min="0"
              max="2"
              value="1"
              step="0.1"
              id="pitch"
            />
            <div id="pitch-value">1.0</div>
          </li>
          <li role="menuitem">
            <label for="auto-scroll">Auto-scroll</label>
            <input type="checkbox" id="auto-scroll" />
          </li>
        </ul>
      </li>
    </ul>
  </fieldset>
</aside>

<main>
  {% if entry.is_root and entry._bilarasuttas_data.size > 0 %}
    {% assign comments = '' %}
    {% for key in entry._bilarasuttas_data.keys_order %}
      {% assign html = entry._bilarasuttas_data.html_text[key] %}
      {% assign text = entry._bilarasuttas_data.root_text[key] %}
      {% assign comment = entry._bilarasuttas_data.variant_text[key] %}
      {% assign ref = key | split: ':' | last %}
      {% if html %}
        {% capture replacement %}
          <span id="{{ key }}" class="segment">
            <span class="reference" id="{{ ref }}">
              <a href="#{{ ref }}" title="SuttaCentral segment number">{{ ref }}</a>
            </span>
            {% if text %}
            <!-- This is not a translation, its the root text, the class is so it's not `display: none` by default. -->
            <span class="translation" lang="{{ entry.lang }}" translate="no">
              <span class="text">{{ text }}</span>
              {% unless comment == blank %}
                <button popovertarget="comment-{{ key }}" aria-label="Show variant reading for segment {{ ref }}">*</button>
              {% endunless %}
            </span>
            {% endif %}
          </span>
        {% endcapture %}
        {{ html | replace: '{}', replacement }}
        {%- if comment -%}
          {% capture comments %}
            {{ comments }}
            <article id="comment-{{ key }}" popover>
              Variant: {{ comment | replace: 'https://suttacentral.net', '' }}
            </article>
          {% endcapture %}
        {%- endif -%}
      {% endif %}
    {% endfor %}
    {{ comments }}
    <article id="info" popover>
      {% include 'publicationInfo.liquid', entry: entry %}
    </article>
  {% elsif entry.segmented %}
    {% assign comments = '' %}
    {% for key in entry._bilarasuttas_data.keys_order %}
      {% assign html = entry._bilarasuttas_data.html_text[key] %}
      {% assign text = entry._bilarasuttas_data.translation_text[key] %}
      {% assign rootText = entry._bilarasuttas_data.root_text[key] %}
      {% assign comment = entry._bilarasuttas_data.comment_text[key] %}
      {% assign ref = key | split: ':' | last %}
      {% if html %}
        {% capture replacement %}
          <span id="{{ key }}" class="segment">
            <span class="reference" id="{{ ref }}">
              <a href="#{{ ref }}" title="SuttaCentral segment number">{{ ref }}</a>
            </span>
            {% if text %}
            <span class="translation" lang="{{ entry.lang }}">
              <span class="text">{{ text }}</span>
              {% unless comment == blank %}
                <button popovertarget="comment-{{ key }}" aria-label="Show {{ entry.author }}'s footnote for segment {{ key }}">*</button>
              {% endunless %}
            </span>
            {% endif %}
            {% if rootText %}
            <span class="root" lang="{{ entry.root_lang }}" translate="no">
              <span class="text">{{ rootText }}</span>
            </span>
            {% endif %}
          </span>
        {% endcapture %}
        {{ html | replace: '{}', replacement }}
        {%- if comment -%}
          {% capture comments %}
            {{ comments }}
            <article id="comment-{{ key }}" popover>
              {{ comment | replace: 'https://suttacentral.net', '' }}
            </article>
          {% endcapture %}
        {%- endif -%}
      {% endif %}
    {% endfor %}
    {{ comments }}
    {% if entry._publication_info != blank %}
      <article id="info" popover>
        {% include 'publicationInfo.liquid', entry: entry %}
      </article>
    {% endif %}
  {% else %}
    {% assign html_content = entry._suttas_data.translation.text
      | replace: '\n', ''
    %}
    {% assign original_footer = html_content
      | split: '<footer'
      | last
      | split: '</footer>'
      | first
      | prepend: '<footer'
      | append: '</footer>'
    %}
    {% assign html_without_footer = html_content
      | replace: original_footer, ''
    %}
    {% assign modified_footer = original_footer
      | replace: '<footer', '<article id="info" popover'
      | replace: '</footer>', '</article>'
    %}
    {{ html_without_footer }}
    {{ modified_footer }}
  {% endif %}

  {% assign left_title = entry.original_title | default: entry.root_name %}
  {% assign right_title = entry.translated_title
    | default: entry.translated_name
  %}
  {% assign full_title = left_title | append: '—' | append: right_title %}

  <article id="parallels" popover>
    {% include 'textMetaContent.liquid',
      entry: entry,
      title: full_title,
      translations: entry._suttas_data.suttaplex.translations
    %}
  </article>
</main>

<nav aria-label="Article pagination">
  <div>
    {% if entry._suttas_data.translation.previous.uid != blank %}
      <span>Previous</span>
      <a
        href="/{{ entry._suttas_data.translation.previous.uid }}/{{ entry._suttas_data.translation.previous.lang }}/{{ entry._suttas_data.translation.previous.author_uid }}"
        rel="prev"
      >
        {{- entry._suttas_data.translation.previous.name -}}
      </a>
    {% endif %}
  </div>
  <div>
    {% if entry._suttas_data.translation.next.uid != blank %}
      <span>Next</span>
      <a
        href="/{{ entry._suttas_data.translation.next.uid }}/{{ entry._suttas_data.translation.next.lang }}/{{ entry._suttas_data.translation.next.author_uid }}"
        rel="next"
      >
        {{- entry._suttas_data.translation.next.name -}}
      </a>
    {% endif %}
  </div>
</nav>

{% include 'footer.liquid',
  route: entry.scx_path,
  fetchedAt: entry.scx_fetched_at
%}

{% if _siteMetaData.environment == 'dev' %}
  <script>
    const data = {{ entry | jsonify }};
    console.log(data);
  </script>
{% endif %}
