<!-- This has it's own file because it's used in text.liquid as well -->
{% unless isPatimokkha %}
  <hgroup>
    <h1>{{ title }}</h1>
    {%- if entry.acronym %}
      <p data-pagefind-weight="10">{{ entry.acronym }}</p>
    {% endif -%}
  </hgroup>

  <p data-pagefind-ignore="all">{{ entry.blurb }}</p>
{% endunless %}

<section class="texts-list" data-pagefind-ignore="all">
  {% if translations.length %}
    {% assign english_versions = translations | where: 'lang', 'en' %}
    {% if english_versions.size > 0 %}
      <details open>
        <summary>
          English translation{% if english_versions.size > 1 %}s{% endif %}
          <span class="sr-only">({{ english_versions.size }} available)</span>
        </summary>
        <ul>
          {% for version in english_versions %}
            <li>
              <a
                href="/{{ entry.uid }}/{{ version.lang }}/{{ version.author_uid }}"
                hreflang="{{ version.lang }}"
              >
                {{-
                  version.author
                  | default: version.author_uid
                  | normalise
                -}}
              </a>
              {%- if version.publication_date -%}
                &nbsp;(<span>{{ version.publication_date }}</span>)
              {%- endif %}
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% assign root_versions = translations
      | where: 'is_root', true
      | reject: 'lang', 'en'
    %}
    {% if root_versions.size > 0 %}
      <details open>
        <summary>
          Edition{% if root_versions.size > 1 %}s{% endif %} of the root text
        </summary>
        <ul>
          {% for version in root_versions %}
            <li>
              <span>{{ version.lang_name }}—</span
              ><a
                href="/{{ entry.uid }}/{{ version.lang }}/{{ version.author_uid }}"
                hreflang="{{ version.lang }}"
              >
                {{ version.author | default: version.author_uid | normalise }}
              </a>
              {%- if version.publication_date -%}
                &nbsp;(<span>{{ version.publication_date }}</span>)
              {%- endif %}
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% assign remaining_versions = translations %}
    {% assign remaining_versions = remaining_versions
      | reject: 'lang', 'en'
      | reject: 'is_root', true
    %}
    {% if remaining_versions.size > 0 %}
      <details>
        <summary>
          Translations in other modern languages (
          {{- remaining_versions.size -}}
          )
        </summary>
        <ul>
          {% for version in remaining_versions %}
            <li>
              <span>{{ version.lang_name }}—</span
              ><a
                href="/{{ entry.uid }}/{{ version.lang }}/{{ version.author_uid }}"
                hreflang="{{ version.lang }}"
              >
                {{-
                  version.author
                  | default: version.author_uid
                  | normalise
                -}}
              </a>
              {%- if version.publication_date -%}
                &nbsp;(<span>{{ version.publication_date }}</span>)
              {%- endif %}
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}
  {% endif %}

  {% if entry._parallels_data and entry._parallels_data.size > 0 %}
    {% include 'parallelsDetails.liquid', entry: entry %}
  {% endif %}
</section>
