{% if translations %}
  {% assign translationsList = translations %}
{% else %}
  {% assign translationsList = entry.translations %}
{% endif %}
{% assign english_versions = translationsList | where: "lang", "en" %}
{% if english_versions.size > 0 %}
  <details open>
    <summary>
      <span
        >English translation
        {%- if english_versions.size > 1 %}s{% endif -%}
      </span>
      <span class="sr-only">({{ english_versions.size }} available)</span>
    </summary>
    <ul>
      {% for version in english_versions %}
        <li>
          <a
            href="/{{ entry.uid }}/{{ version.lang }}/{{ version.author_uid }}"
            hreflang="{{ version.lang }}"
          >
            {{-
              version.author
              | default: version.author_uid
              | replace: "&nbsp;", " "
              | replace: "&#160;", " "
              | replace: "\u00A0", " "
              | strip
              | normalise
            -}}
          </a>
          {%- if version.publication_date -%}
            &nbsp;(<span>{{ version.publication_date }}</span>)
          {%- endif %}
        </li>
      {% endfor %}
    </ul>
  </details>
{% endif %}

{% assign root_versions = translationsList
  | where: "is_root", true
  | reject: "lang", "en"
%}
{% if root_versions.size > 0 %}
  <details open>
    <summary>
      Edition{% if root_versions.size > 1 %}s{% endif %} of the root text
    </summary>
    <ul>
      {% for version in root_versions %}
        <li>
          <span>{{ version.lang_name }}—</span
          ><a
            href="/{{ entry.uid }}/{{ version.lang }}/{{ version.author_uid }}"
            hreflang="{{ version.lang }}"
          >
            {% if version.author_uid == "sct" %}
              SuttaCentral Taishō
            {% else %}
              {{-
                version.author
                | default: version.author_uid
                | replace: "&nbsp;", " "
                | replace: "&#160;", " "
                | replace: "\u00A0", " "
                | strip
                | normalise
              -}}
            {% endif %}
          </a>
          {%- if version.publication_date -%}
            &nbsp;(<span>{{ version.publication_date }}</span>)
          {%- endif %}
        </li>
      {% endfor %}
    </ul>
  </details>
{% endif %}

{% assign remaining_versions = translationsList %}
{% assign remaining_versions = remaining_versions
  | reject: "lang", "en"
  | reject: "is_root", true
%}
{% if remaining_versions.size > 0 %}
  <details>
    <summary>
      Translations in other modern languages (
      {{- remaining_versions.size -}}
      )
    </summary>
    <ul>
      {% for version in remaining_versions %}
        <li>
          <span>{{ version.lang_name }}—</span
          ><a
            href="/{{ entry.uid }}/{{ version.lang }}/{{ version.author_uid }}"
            hreflang="{{ version.lang }}"
          >
            {{-
              version.author
              | default: version.author_uid
              | replace: "&nbsp;", " "
              | replace: "&#160;", " "
              | replace: "\u00A0", " "
              | strip
              | normalise
            -}}
          </a>
          {%- if version.publication_date -%}
            &nbsp;(<span>{{ version.publication_date }}</span>)
          {%- endif %}
        </li>
      {% endfor %}
    </ul>
  </details>
{% endif %}
